.bg-header {
  height: 500px;
  background-image: url(img/sampul.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -100px;
  color: #eaeaea;
  overflow: hidden;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.jumbotron img {
  width: 200px;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  font-family: "Times New Roman", Times, serif;
}
.pKiri,
.pKanan {
  opacity: 0;
  transform: translate(-50px, 0) rotate(15deg);
  transition: 2s;
}
.pKanan {
  transform: translate(50px, 0) rotate(15deg);
}
.pKiri.pMuncul,
.pKanan.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
}
#projects {
  background-color: #e2edff;
}

.projects #bg-body {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

.projects #bg-body.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.whatsapp {
  font-family: Roboto, Arial, Sans-serif;
  font-size: 14px;
  font-weight: 400;
  right: 5%;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
a {
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
a:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  color: #fff;
}
.icons {
  background: #25d366;
  border-radius: 10px 10px 0 0;
  display: block;
  height: 42px;
  margin-bottom: 20px;
  width: 220px;
}
.icons:hover {
  background: #128c7e;
}
.icons span {
  display: block;
  left: 5px;
  top: 5px;
  transform: translate(0, 10px);
}
svg {
  border-radius: 10px;
  display: block;
  fill: #fff;
  float: left;
  height: 42px;
  margin-right: 5px;
  -webkit-transition: ease-in-out 0.175s;
  transition: ease-in-out 0.175s;
  width: 42px;
}

section {
  padding-top: 5rem;
}
